body {
    background-color: #121416;
    color: white;
    font-family: 'Raleway', sans-serif;
}

#header {
    margin-bottom: 30px;
}

#header br {
    margin-bottom: 30px;
}

#title {
    display: flex;
    align-items: center;
}

#title a {
    color: white;
}

#title a:hover {
    opacity: 80%;
}

.badge {
    margin-left: 30px;
}

.badge {
    height: 20px;
}

#fields {
    display: inline-flex;
}

#fileField {
    display: flex;
    align-items: center;
}

.optionDiv {
    display: inline-table;
}

#result {
    border: 1px gray solid;
    padding: 10px;
    font-family: 'Times New Roman', serif;
}

.noMP {
    margin: 0;
    padding: 0;
}

.messageHeader {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.authorName {
    font-weight: bold;
}

.date {
    font-family: 'Arial', sans-serif;
    font-size: 80%;
}

.dateMargin {
    margin-left: 20px;
}

.headerMargin {
    margin-top: 30px;
}